@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-primary-dark: #0e64bf;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;
  
  --font-display: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased overflow-x-hidden;
  }
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
