@import "tailwindcss";

@theme {
  --color-primary: #003366;
  --color-primary-dark: #002244;
  --color-accent: #E30613;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;

  --font-display: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased overflow-x-hidden;
  }
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
